// Main structure

.wrapper {
  max-width: 1048px;
  margin: 0px auto 0px;
  background-color: $bg;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);
  @include clearfix;
}

.site-header {
  width: 25%;
  float: left;
  box-sizing: border-box;
  position: relative;
  padding: 10px 20px;
}

.site-content {
  width: 75%;
  float: left;
  box-sizing: border-box;
  position: relative;
  padding: 70px 40px;
  border-left: 1px solid $light-grey;
  //margin: 40px 0;
}

@media (max-width: 720px) {
  .site-header,
  .site-content {
    width: 100%;
    padding: 20px;
    margin: 0;
  }

  .site-header {
    background-color: $blue;
  }
}


// Grid

.row {
  margin: 0 -2%;
  max-width: 786px;
  @include clearfix;
}

.row__col-3-of-12 {
  float: left;
  width: 21%;
  margin: 0 2%;
}

.row__col-6-of-12 {
  float: left;
  width: 46%;
  margin: 0 2%;
}

.row__col-9-of-12 {
  float: left;
  width: 71%;
  margin: 0 2%;
}

.row__col-12-of-12 {
  float: left;
  width: 96%;
  margin: 0 2%;
}

@media (max-width: 920px) {
  .row__col-3-of-12,
  .row__col-6-of-12,
  .row__col-9-of-12 {
    width: 96%;
  }
}
